h2 Habilidades
div.flex.flex-center.elipse-container
  div.elipse
    div.scene
      div.carousel
        div
          div C#
        div
          div TS
        div
          div Python
        div
          div Java
        div
          div JS
        div
          div React
        div
          div Mongo DB
        div
          div Docker
        div
          div AWS

